{:source-paths ["src"]
 :repositories {"central" {:url "https://maven.aliyun.com/nexus/content/groups/public/"}
                "clojars" {:url "https://mirrors.ustc.edu.cn/clojars/"}}
 :dependencies [[mvc-works/chan-utils       "0.1.0"]
                [cljs-node-io               "1.1.2"]
                [medley                     "1.2.0"]
                [appliedscience/js-interop  "0.1.20"]
                [org.clojure/core.incubator "0.1.4"]]
 :builds {:app {:target :node-script
                :output-to "target/server.js"
                :main app.main/main!
                :devtools {:after-load app.main/reload!}
                :release {:output-to "dist/server.js"
                          :compiler-options {:optimizations :simple}}}}}
