{
  :source-paths ["src"]
  :repositories {
    "central" {:url "https://maven.aliyun.com/nexus/content/groups/public/"}
    "clojars" {:url "https://mirrors.ustc.edu.cn/clojars/"}
  }
  :dependencies [
    [mvc-works/chan-utils "0.1.1"]
    [cljs-node-io "1.1.2"]
    [medley "1.3.0"]
    [cirru/favored-edn "0.1.3"]
    [applied-science/js-interop "0.2.7"]
    [org.clojure/core.incubator "0.1.4"]
  ]
  :builds {
    :app {
      :target :node-script, :output-to "target/server.js", :main app.main/main!
      :devtools {:after-load app.main/reload!}
      :release {
        :output-to "dist/server.js"
        :compiler-options {:optimizations :simple}
      }
    }
  }
}